body{
    margin: 0;
    background-color: #1a1a1d;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    overflow-x: hidden;
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
}
@font-face {
    font-family: Bowlby;
    src: url(../FNT/BowlbyOneSC-Regular.ttf);
}
#gradient{
    pointer-events: none;
    z-index: 9;
    height: 100px;
    width: 100%;
    position: fixed;
    opacity: 0;
    background: linear-gradient(180deg, rgba(26,26,29,1) 0%, rgba(26,26,29,0) 82%);
    transition: 1s;
}

#Logo{
    cursor:default;
    z-index: 10;
    grid-column: 3/4;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
}
#Logo img{
    padding: 1%;
    padding-top: 3%;
    width: 43%;
    cursor: pointer;
}
#Logo img:hover{
    margin-right: 5%;
    scale: 1.2;
    transition: 0.5s;
}
#Logo:hover + #gradient{
    opacity: 1;
    transition: 1s;
}
#VideoInicio{
    grid-column: 1/4;
    height: 90vh;
    background-color: gray;
    display: flex;
    flex-direction: column-reverse;
}
#VideoInicio h2{
    color: #1a1a1d;
    font-family: Bowlby;
    margin: 0; 
    padding-left: 2%;
}
a h2{
    cursor: pointer;
}
#VideoInicio a h2:hover{
    color: rgb(69, 69, 69);
    transition: 0.5s;
}
    
a{
    text-decoration: none;
}

#eventostitle{
    color: black;
    font-family: Bowlby;
    margin: 0; 
    cursor: pointer;
    z-index: 1;
    font-size: 3rem;
    position: absolute;
    left: 26%;
    top: 162%;
    transition: all 0.5s ease;
}
#destacodisco{
    z-index: -1;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 150%;
    animation: giroinf 5s linear infinite;
}
#eventostitle:hover{
scale: 1.1;
rotate: 7deg;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 15%;
    margin-bottom: 20%;
}   
.cards div img{
    position: relative;
    width: 100%;
    transform: scale(1.7,1.7);
    z-index: 1;
    top: 50%;


}

.cards div img:hover{
 animation-name: girodisco;
 animation-duration: 6s;
 animation-iteration-count: infinite;
 animation-timing-function: ease;


}
#Indie{
   grid-column: 1/2;
   grid-row: 1/2; 
}
#Rock{
   grid-column: 2/3;
   grid-row: 2/3; 
}
#Experimental{
   grid-column: 3/4;
   grid-row: 1/2; 
}
#IndieEsp{
   grid-column: 4/5;
   grid-row: 2/3; 
}
#RockEsp{
   grid-column: 5/6;
   grid-row: 1/2; 
}   

footer{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100px;
    background: #ac0505;
    text-align: center;
    color: white;
    transition: all 1s ease;
}
footer h4{
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 30px;    
    margin-bottom: 0;
    cursor: pointer;
    color: white;
}

#acordeonh4{
    padding-top: 0;
    padding-bottom: 20px;
}
footer p{
    font-size: 0.9rem;
    margin: 0;
    margin-top: 10px;
    color: white;
}

.hidden{
    visibility: hidden;
    display: none;
}
.hidden img{
    padding-top: 10px;
    width: 45%;
    opacity: 50%;
}

#Contacto{
    grid-column: 1/2;
    grid-row: 1/2;
}
#Problema{
    grid-column: 3/4;
    grid-row: 1/2;
}
#Opinion{
    grid-column: 2/3;
    grid-row: 1/2;
}
.eng{
    display: none;
}

footer:hover{
    height: 200px;
    transition: 1s;
}
footer:hover .hidden{
    visibility: visible;
    display: inline;
    transition: 1s;
 
}
body:has(#cbox1:checked) .eng{
display:block;
}

body:has(#cbox1:checked) .esp{
display:none;
}
input{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
#bandera-wrapper{
    z-index: 100;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#cbox1{
    position: absolute;
    opacity: 0;
    width: 30px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
}

#banderas{
    width: 30px;
    height: 30px;
    z-index: 1;
    position: relative;
}

#banderas img{
    width: 100%;
    transition: 0.2s;
    border-radius: 20px;
    animation: giroinf 4s linear infinite ;
    transform-origin: center;
    position: absolute;
    top: 0;
    left: 0;
}

#ingles{
    opacity: 0;
}
#cbox1:checked + #banderas #español{
    opacity: 0;
}
#cbox1:checked + #banderas #ingles{
    opacity: 1;
}

@media screen and (min-width: 768px) {
    #Logo img{
    width: 35%;
    }
    #Logo img:hover{
    margin-right: 2%;
    }
    #VideoInicio h2{
        padding-left: 1%;
        font-size: 2rem;
    }
    .cards{
        margin-top: 2%;
        width: 100%;
        height: 15%;
        margin-bottom: 7%;
        align-items: center;

    }   
    .cards div img{
        position: relative;
        transform: scale(1,1);
    }
    .cards div img:hover{
        animation-name: girodisco2;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }
    #eventostitle{
        color: black;
        font-family: Bowlby;
        margin: 0; 
        cursor: pointer;
        z-index: 1;
        font-size: 3rem;
        position: absolute;
        left: 35%;
        top: 173%;
    }
    #destacodisco{
        width: 30%;
        left: 35%;
        top: 162%;
    }
    #eventostitle:hover{
        scale: 1.1;
        rotate: 7deg;
        transition: 0.7s;
    }
    #bandera-wrapper{
        top: 25px;
    }
    #cbox1{
        position: absolute;
        opacity: 0;
        width: 50px;
        height: 50px;
        z-index: 2;
        cursor: pointer;
    }

    #banderas{
        width: 50px;
        height: 50px;
        z-index: 1;
        position: relative;
    }
    #banderas img{
        border-radius: 40px;
    }
}


@media screen and (min-width: 1232px) {
    #Logo img{
    width: 20%;
    padding-top: 2%;
    }
    #Logo img:hover{
    margin-right: 2%;
    }
    #VideoInicio h2{
        padding-left: 1%;
        font-size: 2rem;
        color: #1a1a1d;
    }
    .cards{
        margin-top: 2%;
        width: 100%;
        height: 15%;
        margin-bottom: 10%;
        align-items: center;

    }   
    .cards div img{
        position: relative;
        transform: scale(1,1);
    }
    .cards div img:hover{
        animation-name: girodisco2;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
    }
    #eventostitle{
        color: black;
        font-family: Bowlby;
        margin: 0; 
        cursor: pointer;
        z-index: 1;
        font-size: 3rem;
        position: absolute;
        left: 42%;
        top: 230%;
    }
    #destacodisco{
        width: 20%;
        left: 40%;
        top: 215%;
    }
    #eventostitle:hover{
        scale: 1.1;
        rotate: 7deg;
        transition: 0.7s;
    }
    #bandera-wrapper{
        top: 15px;
    }
    #cbox1{
        position: absolute;
        opacity: 0;
        width: 50px;
        height: 50px;
        z-index: 2;
        cursor: pointer;
    }

    #banderas{
        width: 30px;

        z-index: 1;
        position: relative;
    }
    #banderas img{
        border-radius: 40px;
    }
}
